[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[env]
  NEXT_PUBLIC_SANITY_PROJECT_ID = "replace-with-project-id"
  NEXT_PUBLIC_SANITY_DATASET = "production"
